.nav-links {
  text-decoration: none;
  color: black;
}

.btn-flat {
  background-color: #88ffb7 !important;
}

.btn-round {
  background-color: #88ffb7;
  border: none;
  padding: 1rem;
  border-radius: 23px;
  text-decoration: none;
  color: black;
}

.round {
  border-radius: 23px;

.block {
  display: block;
}

.footer-link {
  color: white;
  text-decoration: none;
}

.gap-20 {
  gap: 20px;
}

.border-top {
  border-top: 1px solid lightgray;
}

.dropdown {
  font-size: 2.5rem;
}

.fixed {
  position: absolute;
  bottom: 0;
  width: 100%;
  z-index: -1;
}

.dropshadow {
  filter: drop-shadow(0 0 0.75rem lightblue);
}
